html{
  height: 100%;
  overflow: hidden;
}
body{
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}
header{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 22vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  margin-top: -0.8px;
  font-size: 40px;
  text-align: center;
}
.clouds li{
  padding: 5px;
}
.clouds ul{
  margin-right: 45px;
}
.clouds a{
  color: rgb(148, 148, 148);
  font-size: medium;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.sobre-skills{
  margin-left: -5px;
}
.redes-sociais {
  margin-bottom: 40px;
  margin-left: 50px;
}
header.header::before{
  background: 50% 50% / cover;
}
header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(../img/sunset.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
  animation: slide 300s infinite;
}

@keyframes slide{
  25%{
    background-image: url(../img/montain.png);
  }
  50%{
    background-image: url(../img/sunset.jpg);
  }
  75%{
    background-image: url(../img/montain.png);
  }
  100%{
    background-image: url(../img/sunset.jpg);
  }
}
.profile img {
  margin-bottom: -15px;
  margin-left: 610px;
  margin-top: 55px;
  width: 165px;
  height: 165px;
  object-fit: cover;
  background-image: linear-gradient(220deg,#66CDAA, #4169E1 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 3px;
  border-radius: 50vh;
}
.clouds {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0.1%;
  background: url(../img/clouds.png) no-repeat 50% 50%;
  background-size: cover;
}
header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1;
}
.menu-principal {
  width: 100%;
  background-color: black;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100vh;
}
main {
  margin: 0 auto;
  width: 980px;
  position: relative;
}
nav{
  text-align: center;
}
nav li{
  padding-top: 50px;
  display: inline-block;
}
.logo {
  float: left;
  padding: 25px;
  width: 70%;
}
.redes-sociais ul li {
  margin-left: 10px;
  display: inline-block;
  float: left;
  list-style: none;
}
.redes-sociais {
  margin-left: 20px;
  width: 20%;
  float: left;
  display: inline-block;
  list-style: none;
}
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
.footer {
  color: #ccc;
  padding-top: 10px;
  text-align: center;
}
h1{
  color: #ccc;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
}
h2{
  color: #ccc;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
}
p, h3{
  color: #ccc;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  line-height: 0.5px;
  padding-bottom: 15;
}
a{
  color: #7FFFD4;
  text-align: justify center;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  text-decoration: none;
}
*{
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
.skills{
  padding-bottom: 90px;
  width: 500px;
  margin: 60px auto;
  color: #ccc;
}
.skills li{
  margin: 30px 0;
}
.bar {
  background: #353b48;
  display: block;
  height: 13px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 5px #B0C4DE;
}
.bar span{
  height: 13px;
  float: left;
  background-image: linear-gradient(220deg,#66CDAA, #4169E1 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 3px;
}
.html{
  width: 40%;
  animation: html 2s;
}
.css{
  width: 30%;
  animation: css 2s;
}
.javascript{
  width: 20%;
  animation: javascript 2s;
}
.vuejs{
  width: 10%;
  animation: vuejs 2s;
}
@keyframes html {
  0%{
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes css {
  0%{
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@keyframes javascript {
  0%{
    width: 0%;
  }
  100% {
    width: 15%;
  }
}
@keyframes vuejs {
  0%{
    width: 0%;
  }
  100% {
    width: 8%;
  }
}
@media (max-width: 1300px) {
    h1, h2, h3, p, a {
      width: 98%;
      text-align: center;
      line-height: normal;
    }
    .profile img {
      margin-left: 30%;
    }
    .logo, .menu-principal {
      width: 93vw;
      text-align: center;
      vertical-align: middle;
      display: inline;
    }
    .redes-sociais {
      width: 90vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .redes-sociais ul{
      padding-right: 40px;
    }
    .parallax {
      width: 250px;
      padding-left: 25px;
    }
    header{
      box-sizing: border-box;
      min-height: 100vh;
      padding: 70vw 0 5vw;
      position: relative;
      transform-style: inherit;
      width: 100vw;
    }
    .skills{
      padding-bottom: 90px;
      width: 250px;
      margin: 60px auto;
      color: #ccc;
    }
    .clouds ul{
      padding-right: -12px;
    }
    .clouds a{
      color: rgb(148, 148, 148);
      font-size: small;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
}