html{
  height: 100%;
  overflow: hidden;
}
body{
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}
header{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 22vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  margin-top: -0.8px;
  font-size: 40px;
  text-align: center;
}
.parallax {
  width: 400px;
}
.sobre-skills{
  margin: 0;
  height: 80px;
	width: 100%;
}
.sobre-skills ul {
  margin: 0;
  background-color: rgba(3, 2, 2, 0.342);
  list-style: none;
  text-align: center;
}
.sobre-skills ul li{
  display: inline;
}
.sobre-skills ul li a{
  padding: 15px 10px;
  display: inline-block;
  color: rgb(148, 148, 148);
  font-size: smaller;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.sobre-skills ul li a:hover{
  color: #66CDAA;
}
.sobre-skills .scroll {  
  margin-bottom: 10px;
  padding: 0px 50px;
}
.sobre-skills .flag img {
  margin-bottom: -6px;
}
.sobre-skills .socials img {
  margin-bottom: -3px;
  height: 18px;
  width: 18px;
}

header.header::before{
  background: 50% 50% / cover;
}
header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(../img/montain.png);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
  animation: slide 300s infinite;
}

/*@keyframes slide{
  25%{
    background-image: url(../img/montain.png);
  }
  50%{
    background-image: url(../img/sunset.jpg);
  }
  75%{
    background-image: url(../img/montain.png);
  }
  100%{
    background-image: url(../img/sunset.jpg);
  }
}
*/
.profile img {
  margin-bottom: -15px;
  margin-left: 600px;
  margin-top: 55px;
  width: 165px;
  height: 165px;
  object-fit: cover;
  background-image: linear-gradient(220deg,#66cdab, #375dce 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 3px;
  border-radius: 50vh;
}
.clouds  {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0.1%;
  background: url(../img/clouds.png) no-repeat 50% 50%;
  background-size: cover;
}
header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1;
}
.menu-principal {
  width: 100%;
  background-color: black;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  height: 100vh;
}
main {
  margin: 0 auto;
  width: 980px;
  position: relative;
}
nav{
  text-align: center;
}
nav li{
  padding-top: 50px;
  display: inline-block;
}
.logo {
  float: left;
  padding: 25px;
  width: 70%;
}
.redes-sociais ul li {
  margin-left: 10px;
  display: inline-block;
  float: left;
  list-style: none;
}
.redes-sociais {
  margin-left: 20px;
  width: 20%;
  float: left;
  display: inline-block;
  list-style: none;
}
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
.footer {
  padding-top: 100px;
  text-align: center;
}
.footer p {
  color: #CCC;
  font-weight: bold;
}
h1{
  color: #ccc;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
}
h2{
  color: #ccc;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
}
p, h3{
  color: #ccc;
  text-align: center;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  line-height: 0.5px;
  padding-bottom: 15;
}
p {
  font-weight: lighter;
}
a{
  color: #7FFFD4;
  text-align: justify center;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  text-decoration: none;
}
.ciano {
  color: #7FFFD4;
}
*{
  list-style: none;
}
.skills{
  color: #ccc;
  margin-top: 65px;
}
.skills h3 {
  font-family: 'Roboto', sans-serif;
}
.skills ul {
  margin-top: 50px;
  margin-left: 572px;
}
.skills li{
  padding-top: 30px;
}
.projects a {
  color: #ccc;
}
.projects ul {
  margin-top: 50px;
  margin-left: 445px;
}
.projects li{
  padding-top: 30px;
}
@media (max-width: 859px){
    h1, h2, h3, p, a {
      width: 98%;
      text-align: center;
      line-height: normal;
    }
    .profile img {
      margin-left: 30%;
    }
    .logo, .menu-principal {
      width: 93vw;
      text-align: center;
      vertical-align: middle;
      display: inline;
    }
    .redes-sociais {
      width: 90vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .redes-sociais ul{
      padding-right: 40px;
    }
    .sobre-skills{
      margin-left: 35px;
    }
    .parallax {
      width: 250px;
      padding-left: 25px;
    }
    header{
      box-sizing: border-box;
      min-height: 100vh;
      padding: 70vw 0 5vw;
      position: relative;
      transform-style: inherit;
      width: 100vw;
    }
    .skills{
      padding-bottom: 90px;
      width: 250px;
      margin: 60px auto;
      color: #ccc;
    }
    .skills ul {
      margin-top: 50px;
      margin-left: 15px;
    }
    .skills li{
      padding-top: 30px;
    }
    .projects{
      padding-bottom: 90px;
      width: 250px;
      margin: 60px auto;
      color: #ccc;
    }
    .projects ul {
      margin-top: 50px;
      margin-left: -120px;
    }
    .projects li{
      padding-top: 30px;
    }
    .clouds ul{
      padding-right: -12px;
    }
    .clouds a{
      color: rgb(148, 148, 148);
      font-size: small;
      font-weight: bold;
    }
    .footer p, a{
      font-size: medium;
    }
}
/* ipad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .profile img {
    margin-left: 50%;
  }
  .skills ul {
    margin-left: 44%;
  }
  .projects ul {
    margin-left: -44%;
  }
}
/* ipad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait){
    .profile img {
      margin-left: 43%;
    }
    .skills ul a {
      margin-left: -37%;
    }
    .projects ul a {
      margin-left: -30%;
    }
  }
  @media screen and (min-width: 1600px) {
    .profile img {
      margin-left: 46%;
    }
    .skills ul {
      margin-left: 44%;
    }
  }
  @media screen and (min-width: 1900px) {
    .profile img {
      margin-left: 47%;
    }
    .skills ul {
      margin-left: 46%;
    }
    .projects ul {
      margin-left: 38%;
    }
}
/* BOTÃO CSS e Responsividade */
.checkbtn {
	font-size: 30px;
  color: gray;
	float: right;
  line-height: 80px;
  margin-top: 10px;
	margin-right: 60px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	div ul li a{
		font-size: 16px;
  }
  .profile img {
    margin-left: 41%;
  }
  .skills ul {
    margin-left: 44%;
  }
  
}
@media (max-width: 858px){
  .skills ul a {
    margin-left: -93%;
  }
  .profile img {
    margin-left: 29%;
  }
  .checkbtn {
		display: block;
  }
  .flag a {
    margin-left: 0;
  }
  .socials a{
    margin-left: 0px;
  }
	.sobre-skills ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 50px;
		left: -100%;
		transition: all .5s;
  }
	div ul li{
		display: block;
		margin: 50px 0;
	}
	div ul li a {
    margin-left: -40px;
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
  }
  #check ~ ul {
    margin-left: -40;
  }
	#check:checked ~ ul {
		left: 0;
	}
}